#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
}

.nav-links {
  justify-content: flex-end;
}

ul.navbar-scroll li a,
ul.navbar-middle-scroll li a {
  text-decoration: none;
  color: white;
}

ul.navbar-scroll li a:hover,
ul.navbar-middle-scroll li a:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

ul {
  list-style: none;
  display: flex;
  float: left;
  gap: 20px;
  align-items: center;
  font-size: 17px;
  width: 100%;
  margin: 0;
  padding: 10px;
  transition: 0.2s;
}

ul.navbar-scroll {
  background-color: #134a6f3b;
}

ul.navbar-middle-scroll {
  background-color: #134a6fbc;
  transition: 0.4s;
}

ul.navbar-transparent {
  background-color: transparent;
}

li a:hover {
  color: rgb(100, 100, 255);
}

#logo-image {
  width: 50px;
}

.spacer {
  flex: 1 1 auto;
}
